go 1.19

use (
	./airgap/v2
	./deployer/v2
	./authchecker/v2
	./metering/v2
	./datareporter/v2
	./cue.mod
	./tests/v2
	./v2
	./v2/scripts
	./v2/tools/connect
	./v2/tools/skaffold-tdd-tool
	./v2/tools/version
)
