# permissions for end users to edit certissuers.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: certissuer-editor-role
rules:
- apiGroups:
  - marketplace.redhat.com
  resources:
  - certissuers
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - marketplace.redhat.com
  resources:
  - certissuers/status
  verbs:
  - get
