---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- nonResourceURLs:
  - /api/v1/query
  - /api/v1/query_range
  - /api/v1/targets
  verbs:
  - create
  - get
- nonResourceURLs:
  - /metrics
  verbs:
  - get
- apiGroups:
  - ""
  resources:
  - configmaps
  - namespaces
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - namespaces
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - nodes/metrics
  verbs:
  - get
- apiGroups:
  - ""
  resources:
  - services
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - apps
  resources:
  - statefulsets
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - config.openshift.io
  resources:
  - clusterversions
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - marketplace.redhat.com
  resources:
  - meterdefinitions
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - marketplace.redhat.com
  resources:
  - meterdefinitions
  - meterdefinitions/status
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - marketplace.redhat.com
  resources:
  - meterdefinitions/status
  verbs:
  - get
  - list
  - patch
  - update
- apiGroups:
  - operators.coreos.com
  resources:
  - catalogsources
  verbs:
  - create
  - get
  - list
  - watch
- apiGroups:
  - operators.coreos.com
  resourceNames:
  - ibm-operator-catalog
  - opencloud-operators
  resources:
  - catalogsources
  verbs:
  - delete
- apiGroups:
  - operators.coreos.com
  resources:
  - clusterserviceversions
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - storage.k8s.io
  resources:
  - storageclasses
  verbs:
  - get
  - list
  - watch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: manager-role
  namespace: system
rules:
- apiGroups:
  - ""
  resources:
  - configmaps
  verbs:
  - create
  - get
  - list
  - watch
- apiGroups:
  - ""
  resourceNames:
  - kubelet-serving-ca-bundle
  - serving-certs-ca-bundle
  resources:
  - configmaps
  verbs:
  - delete
  - patch
  - update
- apiGroups:
  - ""
  resourceNames:
  - razee-cluster-metadata
  - watch-keeper-config
  - watch-keeper-limit-poll
  - watch-keeper-non-namespaced
  resources:
  - configmaps
  verbs:
  - delete
  - patch
  - update
- apiGroups:
  - ""
  resources:
  - configmaps
  - secrets
  - services
  verbs:
  - create
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - namespaces
  verbs:
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - persistentvolumeclaims
  verbs:
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - pods
  verbs:
  - delete
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resourceNames:
  - clustersubscription
  - rhm-cos-reader-key
  - rhm-operator-secret
  - watch-keeper-secret
  resources:
  - secrets
  verbs:
  - delete
  - patch
  - update
- apiGroups:
  - ""
  resourceNames:
  - rhm-data-service-mtls
  resources:
  - secrets
  verbs:
  - delete
  - patch
  - update
- apiGroups:
  - ""
  resourceNames:
  - ibm-entitlement-key
  - redhat-marketplace-pull-secret
  - rhm-operator-secret
  resources:
  - secrets
  - secrets/finalizers
  verbs:
  - patch
  - update
- apiGroups:
  - ""
  resources:
  - serviceaccounts/token
  verbs:
  - create
  - get
  - list
  - update
- apiGroups:
  - ""
  resources:
  - services
  verbs:
  - create
  - get
  - list
  - watch
- apiGroups:
  - ""
  resourceNames:
  - kube-state-metrics
  - rhm-metric-state-service
  resources:
  - services
  verbs:
  - delete
  - patch
  - update
- apiGroups:
  - ""
  resourceNames:
  - rhm-data-service
  resources:
  - services
  verbs:
  - delete
  - patch
  - update
- apiGroups:
  - apps
  resources:
  - deployments
  verbs:
  - create
  - get
  - list
  - watch
- apiGroups:
  - apps
  resourceNames:
  - rhm-metric-state
  resources:
  - deployments
  verbs:
  - delete
  - patch
  - update
- apiGroups:
  - apps
  resources:
  - deployments
  - deployments/finalizers
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - apps
  resourceNames:
  - ibm-metrics-operator-controller-manager
  resources:
  - deployments/finalizers
  verbs:
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - apps
  resourceNames:
  - redhat-marketplace-controller-manager
  resources:
  - deployments/finalizers
  verbs:
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - apps
  resources:
  - replicasets
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - apps
  resources:
  - statefulsets
  verbs:
  - create
  - get
  - list
  - watch
- apiGroups:
  - apps
  resourceNames:
  - rhm-data-service
  resources:
  - statefulsets
  verbs:
  - delete
  - patch
  - update
- apiGroups:
  - batch
  - extensions
  resources:
  - cronjobs
  verbs:
  - create
  - get
  - list
  - watch
- apiGroups:
  - batch
  - extensions
  resourceNames:
  - rhm-meter-report-upload
  resources:
  - cronjobs
  verbs:
  - delete
  - patch
  - update
- apiGroups:
  - batch
  - extensions
  resources:
  - jobs
  verbs:
  - delete
  - get
  - list
  - watch
- apiGroups:
  - deploy.razee.io
  resources:
  - remoteresources
  verbs:
  - create
  - get
  - list
  - watch
- apiGroups:
  - deploy.razee.io
  resourceNames:
  - child
  - parent
  resources:
  - remoteresources
  verbs:
  - delete
  - patch
  - update
- apiGroups:
  - marketplace.redhat.com
  resources:
  - events
  verbs:
  - create
  - patch
- apiGroups:
  - marketplace.redhat.com
  resources:
  - marketplaceconfigs
  - marketplaceconfigs/finalizers
  - marketplaceconfigs/status
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - marketplace.redhat.com
  resources:
  - meterbases
  verbs:
  - create
  - get
  - list
  - watch
- apiGroups:
  - marketplace.redhat.com
  resourceNames:
  - rhm-marketplaceconfig-meterbase
  resources:
  - meterbases
  verbs:
  - delete
  - patch
  - update
- apiGroups:
  - marketplace.redhat.com
  resources:
  - meterbases
  - meterbases/finalizers
  - meterbases/status
  verbs:
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - marketplace.redhat.com
  resources:
  - meterreports
  verbs:
  - create
  - delete
  - get
  - list
  - watch
- apiGroups:
  - marketplace.redhat.com
  resources:
  - meterreports
  - meterreports/finalizers
  - meterreports/status
  verbs:
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - marketplace.redhat.com
  resources:
  - razeedeployments
  verbs:
  - create
  - get
  - list
  - watch
- apiGroups:
  - marketplace.redhat.com
  resourceNames:
  - rhm-marketplaceconfig-razeedeployment
  resources:
  - razeedeployments
  verbs:
  - delete
  - patch
  - update
- apiGroups:
  - marketplace.redhat.com
  resources:
  - razeedeployments
  - razeedeployments/finalizers
  - razeedeployments/status
  verbs:
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - monitoring.coreos.com
  resourceNames:
  - rhm-marketplaceconfig-meterbase
  resources:
  - prometheuses
  verbs:
  - delete
  - patch
  - update
- apiGroups:
  - monitoring.coreos.com
  resources:
  - prometheuses
  - servicemonitors
  verbs:
  - create
  - get
  - list
  - watch
- apiGroups:
  - monitoring.coreos.com
  resources:
  - servicemonitors
  verbs:
  - create
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - monitoring.coreos.com
  resourceNames:
  - kube-state-metrics
  - prometheus-user-workload
  - redhat-marketplace-kube-state-metrics
  - redhat-marketplace-kubelet
  - rhm-metric-state
  resources:
  - servicemonitors
  verbs:
  - delete
  - patch
  - update
- apiGroups:
  - operators.coreos.com
  resources:
  - clusterserviceversions
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - operators.coreos.com
  resources:
  - subscriptions
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - route.openshift.io
  resources:
  - routes
  verbs:
  - create
  - get
  - list
  - watch
- apiGroups:
  - route.openshift.io
  resourceNames:
  - rhm-data-service
  resources:
  - routes
  verbs:
  - delete
  - patch
  - update
