apiVersion: apps/v1
kind: Deployment
metadata:
  name: controller-manager
  namespace: system
  annotations:
    reporterImage: {{ .Values.reporterImage }}
    metricStateImage: {{ .Values.metricStateImage }}
    authcheckImage: {{ .Values.authCheckImage }}
spec:
  selector:
    matchLabels:
      redhat.marketplace.com/name: redhat-marketplace-operator
      app.kubernetes.io/name: red-hat-marketplace-deploying
      app.kubernetes.io/managed-by: ibm
      app.kubernetes.io/instance: rhm-deploying-operator
  replicas: 1
  template:
    metadata:
      labels:
        control-plane: controller-manager
        redhat.marketplace.com/name: redhat-marketplace-operator
        app.kubernetes.io/name: red-hat-marketplace-deploying
        app.kubernetes.io/managed-by: ibm
        app.kubernetes.io/instance: rhm-deploying-operator
      annotations:
        productName: "Red Hat Marketplace Operator"
        productID: "36cdaba810c348c096b85800dd62bcf1"
        productMetric: "FREE"
    spec:
      hostIPC: false
      hostNetwork: false
      hostPID: false
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
                - key: kubernetes.io/arch
                  operator: In
                  values:
                    - amd64
                    - ppc64le
                    - s390x
      securityContext: 
        runAsNonRoot: true
      containers:
        - name: manager
          args:
            - --enable-leader-election
          image: {{ .Values.operatorImage }}
          resources:
            requests:
              cpu: 100m
              memory: 225Mi
            limits:
              cpu: 400m
              memory: 700Mi
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8081
            initialDelaySeconds: 15
            periodSeconds: 20
          readinessProbe:
            httpGet:
              path: /readyz
              port: 8081
            initialDelaySeconds: 5
            periodSeconds: 10
          env:
            - name: OPERATOR_NAME
              value: redhat-marketplace-operator
            - name: RELATED_IMAGE_AUTHCHECK
              value: {{ .Values.authCheckImage }}
            - name: WATCH_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.annotations['olm.targetNamespaces']
            - name: POD_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: OLM_OWNER_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.labels['olm.owner']
            - name: OLM_OWNER_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.labels['olm.owner.namespace']
            - name: OLM_OWNER_KIND
              valueFrom:
                fieldRef:
                  fieldPath: metadata.labels['olm.owner.kind']
            - name: OPERATOR_GROUP
              valueFrom:
                fieldRef:
                  fieldPath: metadata.annotations['olm.operatorGroup']
            {{- range $val := .Values.devEnvVars }}
            - name: {{ $val.name | quote }}
              value: {{ $val.value | quote }}
            {{- end }}
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
              - ALL
            privileged: false
            readOnlyRootFilesystem: true
            runAsNonRoot: true   
      terminationGracePeriodSeconds: 10
      serviceAccountName: operator
