---
# Source: redhat-marketplace-operator-template-chart/templates/role.yaml
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: redhat-marketplace-operator
rules:
- apiGroups:
  - rbac.authorization.k8s.io
  resourceNames:
  - razeedeploy-admin-cr
  - redhat-marketplace-razeedeploy
  resources:
  - clusterroles
  verbs:
  - get
  - list
  - delete
- apiGroups:
  - ""
  resources:
  - pods
  - services
  - services/finalizers
  - endpoints
  - persistentvolumeclaims
  - events
  - configmaps
  - secrets
  - namespaces
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - nodes
  verbs:
  - get
  - list
  - watch
  - patch
  - update
- apiGroups:
  - batch
  - extensions
  resources:
  - jobs
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - apps
  resources:
  - deployments
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - apps
  resourceNames:
  - redhat-marketplace-operator
  resources:
  - deployments/finalizers
  verbs:
  - update
- apiGroups:
  - storage.k8s.io
  resources:
  - storageclasses
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - monitoring.coreos.com
  resources:
  - servicemonitors
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - monitoring.coreos.com
  resources:
  - prometheuses
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - operators.coreos.com
  resources:
  - subscriptions
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - operators.coreos.com
  resources:
  - operatorsources
  - catalogsources
  verbs:
  - get
  - list
  - watch
  - create
- apiGroups:
  - operators.coreos.com
  resourceNames:
  - redhat-marketplace
  resources:
  - operatorsources
  verbs:
  - get
  - delete
  - patch
  - update
- apiGroups:
  - operators.coreos.com
  resourceNames:
  - ibm-operator-catalog
  resources:
  - catalogsources
  verbs:
  - get
  - delete
  - patch
  - update
- apiGroups:
  - operators.coreos.com
  resources:
  - operatorgroups
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - deploy.razee.io
  resources:
  - remoteresourcess3
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
- apiGroups:
  - apiextensions.k8s.io
  resourceNames:
  - remoteresources.deploy.razee.io
  - remoteresourcess3.deploy.razee.io
  - featureflagsetsld.deploy.razee.io
  - managedsets.deploy.razee.io
  - mustachetemplates.deploy.razee.io
  - remoteresourcess3decrypt.deploy.razee.io
  resources:
  - customresourcedefinitions
  verbs:
  - get
  - list
  - delete
- apiGroups:
  - config.openshift.io
  resources:
  - consoles
  - infrastructures
  - clusterversions
  verbs:
  - get
  - list
  - patch
  - update
- apiGroups:
  - marketplace.redhat.com
  resources:
  - '*'
  - meterdefinitions
  - razeedeployments
  - meterbases
  - marketplaceconfigs
  - remoteresources3s
  verbs:
  - '*'
- apiGroups:
  - ""
  resourceNames:
  - rhm-cos-reader-key
  - watch-keeper-secret
  resources:
  - secrets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resourceNames:
  - watch-keeper-config
  - watch-keeper-limit-poll
  - watch-keeper-non-namespaced
  - razee-cluster-metadata
  resources:
  - configmaps
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
---
# Source: redhat-marketplace-operator-template-chart/templates/role.yaml
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: redhat-marketplace-remoteresources3deployment
rules:
- apiGroups:
  - operator.coreos.com
  - marketplace.redhat.com
  resources:
  - '*'
  verbs:
  - '*'
- nonResourceURLs:
  - '*'
  verbs:
  - '*'
---
# Source: redhat-marketplace-operator-template-chart/templates/role.yaml
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: redhat-marketplace-watch-keeper
rules:
- apiGroups:
  - '*'
  resources:
  - '*'
  verbs:
  - get
  - list
  - watch
- nonResourceURLs:
  - '*'
  verbs:
  - get
  - list
  - watch
---
# Source: redhat-marketplace-operator-template-chart/templates/role.yaml
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: redhat-marketplace-remoteresources3deployment
  namespace: openshift-redhat-marketplace
rules:
- apiGroups:
  - '*'
  resources:
  - '*'
  verbs:
  - '*'
---
# Source: redhat-marketplace-operator-template-chart/templates/role.yaml
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: redhat-marketplace-operator
  namespace: openshift-redhat-marketplace
rules:
- apiGroups:
  - deploy.razee.io
  resources:
  - '*'
  - remoteresourcess3
  - remoteresources
  verbs:
  - create
  - delete
  - get
  - list
  - update
  - patch
  - watch
- apiGroups:
  - ""
  resources:
  - pods
  - services
  - services/finalizers
  - endpoints
  - persistentvolumeclaims
  - events
  - configmaps
  - secrets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - batch
  - extensions
  resources:
  - jobs
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - apps
  resources:
  - deployments
  - daemonsets
  - replicasets
  - statefulsets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - apps
  resourceNames:
  - redhat-marketplace-operator
  resources:
  - deployments/finalizers
  verbs:
  - update
- apiGroups:
  - monitoring.coreos.com
  resources:
  - prometheuses
  - servicemonitors
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resourceNames:
  - razeedeploy-sa
  - watch-keeper-sa
  resources:
  - serviceaccounts
  verbs:
  - create
  - delete
  - get
  - list
  - update
  - patch
  - watch
