# Source: redhat-marketplace-operator-template-chart/templates/role_binding.yaml
---
kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: metric-state-view-binding
subjects:
- kind: ServiceAccount
  name: ibm-metrics-operator-metric-state
  namespace: openshift-redhat-marketplace
- kind: ServiceAccount
  name: ibm-metrics-operator-metric-state
  namespace: redhat-marketplace
- kind: ServiceAccount
  name: ibm-metrics-operator-metric-state
  namespace: ibm-common-services
roleRef:
  kind: ClusterRole
  name: view
  apiGroup: rbac.authorization.k8s.io
---
kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: reporter-cluster-monitoring-binding
subjects:
- kind: ServiceAccount
  name: ibm-metrics-operator-reporter
  namespace: openshift-redhat-marketplace
- kind: ServiceAccount
  name: ibm-metrics-operator-reporter
  namespace: redhat-marketplace
- kind: ServiceAccount
  name: ibm-metrics-operator-reporter
  namespace: ibm-common-services
roleRef:
  kind: ClusterRole
  name: cluster-monitoring-view
  apiGroup: rbac.authorization.k8s.io
