apiVersion: apps/v1
kind: Deployment
metadata:
  name: rhm-metric-state
  labels:
    app.kubernetes.io/component: controller
    app.kubernetes.io/name: rhm-metric-state
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/component: controller
      app.kubernetes.io/name: rhm-metric-state
  template:
    metadata:
      labels:
        app.kubernetes.io/component: controller
        app.kubernetes.io/name: rhm-metric-state
        app.kubernetes.io/instance: rhm-metric-state
        app.kubernetes.io/part-of: ibm-metrics-operator
        app.kubernetes.io/managed-by: operator
      annotations:
        productName: 'Red Hat Marketplace Operator'
        productID: '36cdaba810c348c096b85800dd62bcf1'
        productMetric: 'FREE'
    spec:
      hostIPC: false
      hostNetwork: false
      hostPID: false
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: kubernetes.io/arch
                    operator: In
                    values:
                      - amd64
                      - ppc64le
                      - s390x
                  - key: kubernetes.io/os
                    operator: In
                    values:
                      - linux
      securityContext: 
        runAsNonRoot: true      
      containers:
        - name: metric-state
          image: metric-state
          imagePullPolicy: IfNotPresent
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8080
            initialDelaySeconds: 15
            periodSeconds: 20
          readinessProbe:
            httpGet:
              path: /readyz
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 10
          env:
          - name: GOGC
            value: 50
          - name: GOMEMLIMIT
            valueFrom:
              resourceFieldRef:
                containerName: metric-state
                resource: limits.memory
          resources:
            requests:
              cpu: 50m
              memory: 80Mi
            limits:
              cpu: 100m
              memory: 200Mi
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
              - ALL
            privileged: false
            readOnlyRootFilesystem: true
            runAsNonRoot: true 
          terminationMessagePolicy: FallbackToLogsOnError
          ports:
            - containerPort: 8080
              name: web
        - image: redhat-marketplace-authcheck:latest
          name: authcheck
          env:
          - name: GOMEMLIMIT
            valueFrom:
              resourceFieldRef:
                containerName: authcheck
                resource: limits.memory
          resources:
            requests:
              cpu: 10m
              memory: 12Mi
            limits:
              cpu: 15m
              memory: 24Mi
          env:
          - name: GOMEMLIMIT
            valueFrom:
              resourceFieldRef:
                containerName: authcheck
                resource: limits.memory
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
              - ALL
            privileged: false
            readOnlyRootFilesystem: true
            runAsNonRoot: true 
          terminationMessagePolicy: FallbackToLogsOnError
        - args:
            - --secure-listen-address=:9092
            - --tls-cipher-suites=TLS_AES_128_GCM_SHA256,TLS_AES_256_GCM_SHA384,TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256,TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256,TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384,TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384
            - --tls-min-version=VersionTLS12
            - --upstream=http://127.0.0.1:8080/
            - --tls-cert-file=/etc/tls/private/tls.crt
            - --tls-private-key-file=/etc/tls/private/tls.key
            - --upstream-ca-file=/etc/configmaps/serving-cert-ca-bundle/service-ca.crt
          image: registry.redhat.io/openshift4/ose-kube-rbac-proxy:latest
          imagePullPolicy: IfNotPresent
          name: kube-rbac-proxy-1
          ports:
            - containerPort: 9092
              name: https
          resources:
            limits:
              cpu: 100m
              memory: 40Mi
            requests:
              cpu: 10m
              memory: 20Mi
          env:
          - name: GOMEMLIMIT
            valueFrom:
              resourceFieldRef:
                containerName: kube-rbac-proxy-1
                resource: limits.memory
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
              - ALL
            privileged: false
            readOnlyRootFilesystem: true
            runAsNonRoot: true 
          terminationMessagePolicy: FallbackToLogsOnError
          volumeMounts:
            - mountPath: /etc/tls/private
              name: rhm-metric-state-tls
              readOnly: false
            - mountPath: /etc/configmaps/serving-cert-ca-bundle
              name: ibm-metrics-operator-serving-certs-ca-bundle
              readOnly: false
      priorityClassName: system-cluster-critical
      serviceAccountName: ibm-metrics-operator-metric-state
      tolerations:
        - effect: NoSchedule
          key: node-role.kubernetes.io/master
          operator: Exists
      volumes:
        - name: rhm-metric-state-tls
          secret:
            secretName: rhm-metric-state-tls
        - configMap:
            name: ibm-metrics-operator-serving-certs-ca-bundle
          name: ibm-metrics-operator-serving-certs-ca-bundle
