name: Create Manifest

on:
  push:
    branches:
      - 'release/**'
      - 'hotfix/**'
      - '!release/stable'
      - '!hotfix/stable'
  pull_request:
    branches:
      - master
      - develop
      - 'release/stable'
      - 'hotfix/stable'
env:
  pushImage: true

jobs:
  create-bundle:
    name: Create Bundle
    runs-on: ubuntu-latest
    strategy:
      matrix:
        channel: ['stable', 'beta']
        include:
          - channel: 'beta'
            tags: ['no-merge']
            draft: 'true'
            message: 'Beta releases should not be merged. Only for deployment.'
          - channel: 'stable'
            tags: ['release']
            draft: 'false'
            message: 'Stable release should be merged.'
    steps:
      - name: Set up Go 1.x
        uses: actions/setup-go@v2
        with:
          go-version: ^1.14
        id: go

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: Check out code into the Go module directory
        uses: actions/checkout@v2
        with:
          token: ${{ secrets.pullRequestSecret }}

      - name: Get Vars
        id: vars
        run: |
          echo ::set-env name=pr_branch::$(echo $BRANCH | sed 's/refs\/heads\///')
          echo ::set-env name=NEW_BRANCH_NAME::release/${{ matrix.channel }}
          echo "::set-output name=version::$(make current-version)"
          echo "::set-output name=tag::sha-$(git rev-parse --short HEAD)"
          echo "::set-output name=hash::hash-${FILEHASH:0:6}"
        env:
          FILEHASH: ${{ hashFiles('build/**', 'assets/**', 'cmd/**', 'pkg/**', 'version/**', 'go.sum', 'go.mod') }}
          BRANCH: ${{ github.ref }}

      - uses: actions/cache@v2
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Install operator-sdk
        run: |
          cd /tmp
          curl -LO https://github.com/operator-framework/operator-sdk/releases/download/${RELEASE_VERSION}/operator-sdk-${RELEASE_VERSION}-x86_64-linux-gnu
          chmod +x operator-sdk-${RELEASE_VERSION}-x86_64-linux-gnu && sudo mkdir -p /usr/local/bin/ && sudo cp operator-sdk-${RELEASE_VERSION}-x86_64-linux-gnu /usr/local/bin/operator-sdk && rm operator-sdk-${RELEASE_VERSION}-x86_64-linux-gnu
          python -m pip install --upgrade pip
          pip3 install operator-courier
          echo "::add-path::/usr/local/bin"
        env:
          RELEASE_VERSION: v0.17.0
      - name: Create CSV
        id: bundle
        run: make generate-csv bundle
        env:
          CSV_CHANNEL: ${{ matrix.channel }}
          CSV_DEFAULT_CHANNEL: ${{ matrix.channel == 'stable' }}
          OPERATOR_IMAGE: quay.io/rh-marketplace/redhat-marketplace-operator:${{ steps.vars.outputs.hash }}
      - name: Upload bundle to actions
        uses: actions/upload-artifact@v1
        if: ${{ github.event_name == 'pull_request' }}
        with:
          name: ${{ matrix.channel }}-${{ steps.vars.outputs.hash }}${{ steps.bundle.outputs.bundlename }}
          path: bundle
      - name: Create branch
        if: ${{ matrix.channel == 'stable' && github.event_name == 'push' }}
        run: |
          git config user.name 'Zach Taylor'
          git config user.email 'ztaylor@ibm.com'
          git checkout -b ${NEW_BRANCH_NAME}
          git add ./deploy/olm-catalog
          git commit -m "chore: update csv"
          git push -f -u origin ${NEW_BRANCH_NAME}

      - name: Open a PR to the default branch
        if: ${{ matrix.channel == 'stable' && github.event_name == 'push' }}
        uses: vsoch/pull-request-action@1.0.2
        env:
          GITHUB_TOKEN: ${{ secrets.pullRequestSecret }}
          PULL_REQUEST_FROM_BRANCH: '${{ env.NEW_BRANCH_NAME }}'
          PULL_REQUEST_BRANCH: master
          PULL_REQUEST_TITLE: 'Release ${{ steps.vars.outputs.version }}'
          PULL_REQUEST_BODY: "Release PR - merge when ready.\n\nSteps:\n1. Release the beta channel bundle from the [artifacts](https://github.com/redhat-marketplace/redhat-marketplace-operator/actions/runs/${{ github.run_id }}).\n1. Test beta. Make changes to release branch as necessary.\n1. Release the stable channel.\n1. Merge this PR."
