name: Check License

on:
  pull_request:
    branches: [ master, develop, feature/*, hotfix/*, release/*, bugfix/* ]

jobs:

  license:
    name: Check License
    runs-on: ubuntu-24.04

    steps:

    - name: Set up Go 1.x
      uses: actions/setup-go@v6
      with:
        go-version: ^1.25
        cache: false
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v6

    - name: Check licenses - run 'make add-licenses' if this errors
      run: make check-licenses
